.npc_wrapper {
    text-align: center;
    display: block;
    position: relative;
    height: 100vh;
}

.npc_title{
    display: inline-block;
    font-family: "Times New Roman", Times, serif;
    font-size: 60px;
    letter-spacing: -4px;
    word-spacing: 0.2px;
    font-weight: 700;
    font-variant: small-caps;
    text-transform: none;
    text-decoration: none;
    margin-bottom: 3vh;
    margin-top: 3vh;
}

.npc_page_overview{
    display:block;
    margin: auto;
    padding-top: 0;
    padding-left: 3em;
    padding-right: 3em;
    font-size: 16px;
    line-height: 24px;
    max-width: 800px;
    text-align: center;
}

.npc_search{
    background-color: white;
    height: 30px;
    max-width: 800px;
    margin-left: 5vw;
    margin-right: 5vw;
    transition: all ease-in-out 1s;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
}