.red_title{
    display: inline-block;
    color: red;
    font-family: "Times New Roman", Times, serif;
    font-size: 60px;
    letter-spacing: -4px;
    word-spacing: 0.2px;
    font-weight: 700;
    font-variant: small-caps;
    text-transform: none;
    text-decoration: none;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.red_title:hover{
    color:#15171c;
    transition: all .3s;
    text-shadow: 5px -1px 3px #ff0000;
}

.main_nav_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: black;
    color: white;
	align-items: center;
}

.nav_link{
    color: white;
    text-decoration: none;
    transition: all 0.5s;
    font-family: "Times New Roman", Times, serif;
    margin: 0 1rem;
    font-size: 24px;
}

.nav_link:hover{
    color: red;
}

.nav_btn{
    margin-top: 12px !important;
    cursor: pointer;
    background: transparent;
    border:none;
    outline: none;
    color: white !important;
    visibility: hidden;
    opacity: 0;
    display: none !important;
}

.main_nav_wrapper nav{
	display: flex;
	align-items: center;
}
@media only screen and (max-width: 1024px) {
    .red_title{
        font-size: min(14vw, 60px);
    }
    .nav_btn{
        visibility: visible;
        opacity: 1;
        display: inline !important;
        padding: 0;
    }
    .main_nav_wrapper{
        padding: 0 1rem;
    }
    .main_nav_wrapper nav{
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        height: 100%;
        width:100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: black;
        transition: 1s;
        transform: translateY(-100vh);
    }
    .responsive_nav{
        transform: none !important;
    }
    .nav_close_btn {
		position: absolute !important;
		top: 1rem;
		right: 1rem;
	}
    .nav_link{
        font-size: 3rem;
    }
  }