.reset_wrapper {
  text-align: center;
  width: 60%;
  margin: auto;
  margin-top: 3em;
}

.reset_title {
  padding-top: 0.5em;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 56px;
  margin-bottom: 0;
}

.reset_box {
  margin: auto;
  margin-top: 1em;
  max-width: 70%;
}

.reset_err {
}

@media only screen and (max-width: 800px) {
  .reset_wrapper {
    margin-left: 0;
    animation: none;
    width: 100vw;
    margin-top: 0;
    box-shadow: none !important;
  }
  .reset_title {
    padding-top: 0;
    margin-top: 0.5em;
  }
  .reset_box {
    max-width: 90%;
  }
  .reset_err {
    margin-top: 2em;
  }
}
