.lore-wrapper{
    text-align: center;
}

.lore-title{
    margin:auto;
    width: 80%;
    display: block;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 60px;
    word-spacing: 0.2px;
    font-weight: 700;
    font-variant: small-caps;
    text-transform: none;
    text-decoration: none;
    padding-bottom: 0.5em;
}

.lore-btn-wrap{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.lore-options{
    padding-top: 1em;
    width: 100%;
    text-align: center;
}

.lore-add-btn{
    height: 4em;
}

.lore-mid-wrap{
    height: 100%;
    width: 100%;
    position: relative;
}

.lore-mid-content{
    padding-left: 1em;
    padding-right: 1em;
    position: absolute;
    top: 40%;
    transform: translate(0,-50%);
}

.lore-selected{
    display: block;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
    word-spacing: 0.2px;
    font-weight: 700;
    font-variant: small-caps;
    text-transform: none;
    text-decoration: none;
}

.lore-page-auto-resize-text {
    width: 90%;
    margin: auto;
    padding: 0 !important;
    margin-bottom: 1em;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;;
    font-size: 16px !important;
}


.selected-wrapper{
    height: calc(100% - 6em);
    overflow: scroll;
}

.lore-about{
    white-space: pre-line;
    padding: 1em;
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
}

.selected-image{
    cursor: zoom-in;
    padding-top: 1em;
    padding-bottom: 1em;
    max-width: 90%;
    max-height: 50%;
    margin: auto;
}

.selected-menu{
    padding-left: 1em;
    padding-right: 1em;
    max-width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.lore-body-wrap{
    height: calc(100vh - 160px - 3em);
    width: calc(100vw);
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1em;
}

.lore-left{
    width: 55%;
    height: 100%;
}

.lore-left-wrap{
    margin: auto;
    display: inline-flex;
    flex-wrap: wrap;
    overflow: scroll;
    align-items: center;
    justify-content: space-evenly;
    padding: 1em;
    padding-bottom: 1.5em;
    flex-direction: row;
    flex-basis:auto;
    max-height: calc(100% - 7em);
    gap: 1em;
}

.lore-page-text-field{
    padding-top: 0.5em;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
}


.lore-right{
    width: 35%;
    height: 100%;
    overflow: scroll;
}

.lore-item-card{
    margin: 1em;
    position: relative;
    flex-wrap: wrap;
    height: 300px;
    width: 300px;
    margin-bottom: -10px;
    text-align: left;
    z-index: 5;
    transition: all .5s ease-in-out;
}

.lore-item-card:hover{
    transition: all .2s ease-in-out;
    transform: scale(1.05);
}

.close-img-btn{
    position: absolute;
    right: 0.5em;
    top: calc(0.5em + 80px);
    color:red;
}

.fullscreen-wrap{
    padding-top: 80px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 60;
    backdrop-filter: blur(30px);
    text-align: center;
    align-items: center;
}

.no-scroll{
    overflow: hidden;
}

.preview-img{
    margin: auto;
    max-width: 100vw;
    max-height: 100vh;
    object-fit: contain;
}

.show-img{
    display: block;
}

.large-img-wrap{
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    padding: 1em;
}

.lore-err {
    display: none !important;
}

@media only screen and (max-width: 900px) {

    .lore-err{
        display: flex !important;
    }

    .lore-body-wrap{
        height: auto;
    }

    .lore-left{
        width: 100%;
    }

    .lore-right{
        position: fixed;
        left:-100vw;
        z-index: 50;
        width: 100%;
        transition: 0.2s all;
        top: 0;
    }

    .lore-item-card{
        margin: 0;
        height: 190px;
        width: 200px;
    }

    .lore-add-btn{
        width: 10%;
    }

    .lore-btn-wrap{
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .lore-title{
        font-size: 48px;
    }
}
