.submenu_link{
    display: flex;
    color: #e1e9fc;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    list-style: none;
    height: 60px;
    text-decoration: none;
    font-size: 18px;
    text-transform: none;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.submenu_link:hover{
    background: #252831;
    color:red;
    transition: all .3s;
    text-shadow: 1px -1px 1px black;
    border-left: 4px solid #ff0000;
    cursor: pointer;
}

.submenu_label{
    margin-left: 20px;
}

.dropdown_link{
    background: #414757;
    height: 60px;
    display: flex;
    padding-left: 3rem;
    align-items: center;
    text-decoration: none;
    color: #f5f5f5;
    font-size: 14px;
    text-transform: none;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.dropdown_link:hover{
    background: #252831;
    color:red;
    transition: all .3s;
    text-shadow: 1px -1px 1px black;
    border-left: 4px solid #ff0000;
    cursor: pointer;
}

.dropdown_label{
    margin-left: 20px;
}